[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/bundle/tmux-navigator"]
	path = vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/php-refactoring-toolbox"]
	path = vim/bundle/php-refactoring-toolbox
	url = https://github.com/adoy/vim-php-refactoring-toolbox.git
[submodule "vim/bundle/delimit-mate"]
	path = vim/bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/hybrid"]
	path = vim/bundle/hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/gnupg"]
	path = vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
