defaults
port 587
protocol smtp
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.msmtp.log

account account1
from email_address
user username
host smtp_hostname
passwordeval "pass path/to/password"

account default : account1
